* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 24px;
}

body {
  margin: 0;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800vmin;
  margin: 0 auto;
  padding: 20px;
}

.text {
  width: 50%;
}

.card-question,
.card-answear {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.btn {
  width: 100%;
  padding: 15px 20px;
  margin: 10px;
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.btn-main, .btn-question {
  background-color: #413F42;
  color: white;
}

.btn-answear {
  background-color: #7F8487;
  color: white;
}

.btn-back {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid black;
  width: 100px;
}

  
.btn:active,
.btn-question:active,
.btn-answear:active { 
  transform: scale(0.98);  
  }

.btn:hover,
.btn-question:hover,
.btn-answear:hover { 
  opacity: 0.9;
  }

